1.创建一个DataFrame

In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(1,13).reshape(3,4))
df.columns = ['one','two','three','four']
df.index = ['Tom','Peter','Linux']
print(df)

       one  two  three  four
Tom      1    2      3     4
Peter    5    6      7     8
Linux    9   10     11    12

2.高亮某些值

In [9]:
df.style.highlight_between(subset=['one','four'],left=1.5, right=8.5,props='font-weight:bold;color:green')

In [10]:
df.style.highlight_max(subset=['two'],color='orange')

3.保存至Excel中

In [ ]:
#保存至新的工作簿中
df.to_excel('data.xlsx',sheet_name="data")

In [ ]:
from openpyxl import load_workbook
#追加到已有的工作部中
def save2sheet(df,url='data.xlsx',sheetname='data'):
    '''
    将新的df保存至已存在的工作簿中,可以指定sheetname工作表名称
    '''
    
    book = load_workbook(url)
    writer=pd.ExcelWriter(url,engine='openpyxl')
    writer.book = book
    df.to_excel(writer,sheetname)
    writer.save()